
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    /* overflow: hidden; */
}

.navbar {
    background-color: #70dff3;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .right {
    float: right;
}

.container {
    width: 400px;
    padding: 16px;
    background-color: white;
    margin: 10px auto 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #113113;
}
.error {
    display: none;
    color: red;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
#userNameMsg {
    color: red;
    display: none;
    font-size: 14px;
}

#registerMsg {
    color: red;
    display: none;
    font-size: 14px;
}